*~
*.a
.deps
.dirstamp
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.trs
aclocal.m4
autom4te.cache
cloud-init
clr-oci-runtime
clr-oci-runtime-*-coverage/
clr-oci-runtime-*-coverage.info
clr-oci-runtime-*.tar.xz
compile
config.*
configure
cscope.files
cscope.in.out
cscope.po.out
data/config.json
data/hypervisor.args
data/vm.json
depcomp
GPATH
GRTAGS
GTAGS
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
stamp-h1
*_test
test-driver
tests/functional/common.bash
tests/functional/data/config-minimal-clr-oci.json
