*~
*.a
.deps
.dirstamp
.*.swp
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.trs
aclocal.m4
autom4te.cache
CLEAR-CONTAINERS.img
cloud-init
cc-oci-runtime
cc-oci-runtime-*-coverage/
cc-oci-runtime-*-coverage.info
cc-oci-runtime-*.tar.xz
/cc-proxy
cc-shim
commit_id
compile
/config.*
configure
CONTAINER-KERNEL
cscope.files
cscope.in.out
cscope.po.out
cscope.out
cscope.out.in
cscope.out.po
data/cc-oci-runtime.sh
data/run-bats.sh
data/config.json
data/hypervisor.args
data/vm.json
depcomp
GPATH
GRTAGS
GTAGS
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
__pycache__/
/proxy/cc-proxy.service
/proxy/cc-proxy.socket
QEMU-LITE
stamp-h1
*_test
TAGS
tags
test-driver
tests/functional/common.bash
tests/functional/data/config-minimal-cc-oci.json
tests/helpers/test_logs/
tests/metrics/dmesglog.*
tests/metrics/workloadTime.*
tests/metrics/results/
tests/metrics/workload_time/cor_create_time.sh
tests/metrics/density/docker_cpu_usage.sh
tests/metrics/density/docker_memory_usage.sh
data/dockerFiles/Dockerfile.fedora
data/dockerFiles/Dockerfile.ubuntu
tests/lib/test-common.bash
tests/functional/run-functional-tests.sh
tests/integration/docker/test.sh
data/obs-packaging/linux-container/wd/debian/config
data/obs-packaging/linux-container/linux-container_*
data/obs-packaging/linux-container/linux-*.tar.xz
data/obs-packaging/linux-container/linux-container.spec
data/obs-packaging/linux-container/wd/debian/patches/*.patch
data/obs-packaging/linux-container/wd/net
data/obs-packaging/clear-containers-image/clear-*-containers.img.xz
data/obs-packaging/clear-containers-image/wd/debian/rules
data/obs-packaging/clear-containers-image/clear-containers-image.spec
data/obs-packaging/clear-containers-image/clear-containers-image_*
home\:clearlinux*
